.button {
  height: auto;

  @include until($tablet) {
    box-sizing: border-box;
    width: 100%;
  }
}

.button--spacer {
  &:not(:last-child) {
    margin-right: 0.7rem;
  }
}

.button--transition {
  @include multiple-transitions($transition-short-duration, $transition-easing, background-color, border-color, color)
}
