/// Outputs a transition for multiple properties.
/// @author Jean-Marc Jones
/// @param {Number} $duration - length of transition
/// @param {String} $easing - a transition timing function
/// @param {List} $properties - the CSS properties
/// @example
///   @include multiple-transitions(.25s, ease, background-color, border-color);
///   // transition: background-color .25s ease, border-color .25s ease;
@mixin multiple-transitions($duration, $easing, $properties...) {
  $value: null;

  @each $property in $properties {
    $value: append($value, $property $duration $easing, $separator: comma);
  }

  transition: $value;
}
